@import url('./node_modules/open-sans-all/css/open-sans.css');
html {
    font-size: 16px;
}
body {
    background-color: #000;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Open Sans';
}
#liveFrame {
    position: absolute;
    border: 12px solid red;
    z-index: -1;
    display: none;
}
#presenterFrame, #presentationFrame {
    font-size: 5.213483vw;
}
#presenterFrame article:not(.active) {
    opacity: 0.4;
}
#presenterFrame article > * > :hover {
    cursor: pointer;
    text-decoration: overline dotted;
}
#presenterFrame article.active > * > .top-line:hover {
    text-decoration: line-through;
}
#presentationContents.animate-scroll {
    transition: transform 1s cubic-bezier(.02, .01, .47, 1);
    will-change: transform;
}
#presentationContents article {
    opacity: 0;
}
#presentationContents article.active {
    opacity: 1;
    transition: opacity 1s ease;
}
article {
    color: #eee;
    padding: 0.4em;
}
#presentationFrame {
    position: relative;
    margin: auto;
    overflow: hidden;
}
#presentationBottomFade {
    position: absolute;
    bottom: 0;
    height: 0.4em;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,1));
}
header {
    /* font-weight: bold; */
    text-align: center;
}
h1, h2 {
    margin: 0;
    padding: 0;
}
footer {
    font-size: 0.6em;
    text-align: center;
    opacity: 0.8;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 0.5em;
}
ol {
    padding: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
li {
    list-style-type: none;
    text-indent: -1em;
    margin-left: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0em;
    white-space: pre-wrap;
}
li:first-letter, article h1:first-letter, article h2:first-letter {
    text-transform: capitalize;
}
li:empty {
    min-height: 0.8em;
}
body.forcedScrollbar {
    min-height: 101vh;
}
#makePresentationFullscreen {
    position: fixed;
    z-index: 1;
    background-color: rgba(255,255,0,.8);
    border-bottom: .5vw #45450b solid;
    width: 100%;
    padding: 1vw;
    font-size: 3vw;
}
#makePresentationFullscreen > button.pure-button {
    background-color: #45450b;
    margin: 1vw;
    color: white;
}
