html {
    font-size: 16px;
}
body {
    background-color: #111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#liveFrame {
    position: absolute;
    border: 12px solid red;
    z-index: -1;
    display: none;
}
#presenter {
    /* This will be dynamically scaled based on ratio of presenter to presentation width */
    font-size: 100%;
}
#presenter article:not(.active) {
    opacity: 0.4;
}
#presenter.presentation-active article header:hover, #presenter.presentation-active article li:hover {
    cursor: pointer;
    text-decoration: underline dotted;
}
#presentation article {
    opacity: 0;
    transition: opacity 1s ease;
}
#presentation article.active {
    opacity: 1;
    transition: opacity 1s ease;
}
article {
    color: #eee;
    font-size: 6.25em;
    padding: 0.4em;
}
header {
    font-weight: bold;
    text-align: center;
}
ol {
    padding: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
li {
    list-style-type: none;
    text-indent: -1em;
    margin-left: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0em;
}
footer {
    font-size: 0.8em;
    text-align: center;
}